<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lấy lại thông tin đăng nhập</title>
  <style>
    /* CSS cho phần container */
    .container-fluid {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 70%;
    }

    /* CSS cho phần chứa form */
    .col-md-8 {
      margin: 45px 0;
      padding: 30px;
      background-color: rgba(255, 255, 255, 0.8);
      border-radius: 20px;
      border: none;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    /* CSS cho phần chữ tiêu đề */
    h5 {
      text-align: center;
      margin-bottom: 20px;
    }

    /* CSS cho phần thông báo lỗi */
    p {
      color: red;
    }

    /* CSS cho nút đăng ký */
    .p-login {
      margin-right: 40px;
      text-decoration: none;
      color: #007bff;
    }

    /* CSS cho input */
    input {
      padding: 8px;
      margin-bottom: 15px;
      border-radius: 5px;
      border: 1px solid #ced4da;
      width: 100%;
      box-sizing: border-box;
    }

    /* CSS cho nút xác nhận */
    button {
      background-color: #007bff;
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    .confirm-content{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    button:hover {
      background-color: #0056b3;
    }
  </style>
</head>
<body>
  <section style="height: 100vh;">
    <div class="container-fluid">
        <div class="col-md-8">
          <h5>Quên mật khẩu</h5>
          {{#if errorMessage}}
            <p>{{errorMessage}}</p>
          {{/if}}
          <form method="POST" action="/forgotPassword">
            <div>
              <!-- User input -->
              <div>
                <label for="username" style="font-weight: 600;">Username</label><br>
                <input required type="text" id="username" name="username" placeholder="Enter a Username" />
              </div>
              <a class="p-login" href="/login" style="font-size: 13px;">Login</a>
              <div class="confirm-content">
                <button type="submit" style="margin-top: 20px;">Confirm</button>
                <p style="margin-top: 10px;">Don't have an account? <a style= "color: #0056b3;" href="/register">Register</a></p>
              </div>
            </div>
          </form>
        </div>
    </div>
  </section>
</body>
</html>
